<h1>Listing comments</h1>

<table class="table">
  <tr>
    <th>Text</th>
    <th style="width:100px">Post</th>
    <th style="width:200px">Created at</th>
    <th style="width:30px"></th>
    <th style="width:30px"></th>
  </tr>

  <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.text %></td>
        <td>
          <%= link_to 'post', post_path(comment.post_id) %>
        </td>
        <td><%= comment.created_at.to_s(:long) %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
  <% end %>
</table>


